.activity-screen-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  height: 60%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in;
  margin-top: 0;
  box-shadow: 25px 25px 0px 0px #4710f6;

  .activityLink {
    display: flex;
    margin: 3%;
    text-align: center;
    justify-content: space-around;
    padding: 1%;
  }

  .activity-list {
    border-bottom: solid 1px teal;
    text-align: center;
  }

  .listContent-activity {
    padding-top: 0.5%;
    height: 100%;
    width: 80%;
  }

  .activity-dashboard {
    margin: 5%;
    padding: 3%;
  }
}
