body {
  background: #26d1f2;
}
.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background: #26d1f2;

  img {
    width: 300px;
    top: 3%;
    align-self: center;
  }
}
.login-screen-main-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  background: white;
  padding: 80px 20px;
  border-radius: 10px;
  animation: fadeIn .5s ease-in;
  margin-top: 0;
  box-shadow: 25px 25px 0px 0px #4710f6;
  .login-form {
    width: 1000px;
    margin: auto;
    padding: 30px 40px;

    .login-title {
      text-shadow: 2px 2px 3px lightgrey;
      font-size: 2.2rem;
      margin-bottom: 40px;
    }
  }
  .login-form:first-child {
    border-right: 1px solid lightgrey;
  }
  .sign-up-container {
    width: 1000px;
    margin: auto;
    padding: 30px 40px;
  }
}

.sign-up-form-container {
  margin: auto;
  margin-top: 0;
  width: 60%;
  height: 60%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn .5s ease-in;
  box-shadow: 25px 25px 0px 0px #4710f6;

  .form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-top: 10%;

    .field,
    .fields {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
    }
    .field {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      label {
        margin-top: 10px;
      }
    }
  }
  .checkbox {
    margin-top: 40px;
  }
  .button {
    margin-top: 20px;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-color: white;
  .activityLink {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    text-align: left;
  }
}
.dashboard-container {
  width: 80%;
  height: 600px;
  margin: auto;
  margin-top: 0;
  background: white;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn .5s ease-in;
  box-shadow: 25px 25px 0px 0px #4710f6;
}

.value-selector-container{
  margin: auto;
  margin-bottom: 100px;
  width: 70%;
  height: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 25px 25px 0px 0px #4710f6;
  animation: fadeIn .5s ease-in;
  h2{
      text-align: center; 
  } 
  h3{
      text-align: center; 
  }
  
}

// .value-selector-header {
//   display: block;
//   text-align: center;
//   margin-bottom: 2%;
// }

// .value-selector-list{
//   padding: 1%;
//   margin: 1%;
//   display: flex;
//   justify-content: space-around;
// }
// .create-values{
//   border-radius: 6px; 
//   padding: 2%;
//   background-color: #80f3bc;
//   box-shadow: 3px 3px 2px 0 grey;
//   height: 200px;
//   width: 45%;
//   // margin: 0 auto; 
//   .button {
//     margin-top: 30px;
//     background: #496cf3;
//     color: white;
//     &:hover {
//       background: #6a82e4;
//       color: white;
//     }
//     &:focus {
//       background: #496cf3;
//       color: white;
//     }
//   }
// }

// .default-values {
//   border-radius: 6px;
//   background: #80f3bc;
//   padding: .5%;
//   box-shadow: 3px 3px 2px 0 grey;
//   width: 45%;
// }
// .default-values-inner {
//   box-shadow: none;
//   width: 100%;

//   .value-card{
//     margin: 2%;
//     padding: 2% 1%;
//     background-color: white;
//     border-radius: 6px;
//     display: flex;
//     justify-content: space-between;

//     .item {
//       border: none;
//     }
//     .button {
//       background: #496cf3;
//       color: white;
//       &:hover {
//         background: #6a82e4;
//         color: white;
//       }
//       &:focus {
//         background: #496cf3;
//         color: white;
//       }
//     }
//   }
// }

// .my-values{
//   width: 400px;
//   top: 70%;
//   background: #80f3bc;
//   border-radius: 6px;
//   padding: 2%;
//   box-shadow: 3px 3px 2px 0 grey;
//   position: absolute;
//   .button {
//     background: #496cf3;
//     color: white;
//     &:hover {
//       background: #6a82e4;
//       color: white;
//     }
//     &:focus {
//       background: #496cf3;
//       color: white;
//     }
//   }
// }

// .ui.celled.list>.item {
//   border: none;
// }
// .ui.celled.list>.item:last-child {
//   border: none;
// }